@font-face {
    font-family: 'Bahnschrift';
    src: url('/fonts/Bahnschrift/BAHNSCHRIFT.TTF')
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Bahnschrift', sans-serif;
}

svg {
    @apply shrink-0;
}

.world-map::before {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('/images/pngwing.com.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    transform: translate(-50%, -50%);
}
